body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #FF0000;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

.nav-links {
    flex-grow: 1;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

section {
    padding: 2em;
    text-align: center;
}

nav img {
    height: 20px;
    width: auto;
    position: relative;
    left: 10px;
}

footer {
    background-color: #FF0000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header {
        padding: 0.5em;
    }
    
    header img {
        max-width: 100px; /* Tamaño reducido para dispositivos móviles */
        top: 5px;
        left: 5px;
    }
    
    nav {
        padding: 0.5em;
    }
    
    nav a {
        margin: 0 0.5em;
    }
    
    section {
        padding: 1em;
    }
    
    footer {
        padding: 0.5em;
    }
}

#game ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Ajusta el número según la cantidad de columnas que necesites */
    gap: 10px; /* Ajusta el espacio entre las columnas según lo necesites */
    list-style-type: none;
}


#info-static {
    font-weight: bold;
}

#info-static li {
    margin: 0 3.5em;
}